<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{projectName}}</title>
    {{#if styling.tailwind}}
    <script src="https://cdn.tailwindcss.com"></script>
    {{/if}}
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.{{#if typescript}}ts{{else}}js{{/if}}"></script>
  </body>
</html>
