<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900 text-center">
    <div class="flex justify-center mb-8">
      <a href="https://vitejs.dev" target="_blank" class="mx-4">
        <img src="/vite.svg" class="h-24 w-24 hover:drop-shadow-[0_0_2em_#646cffaa] transition-all" alt="Vite logo" />
      </a>
      <a href="https://vuejs.org/" target="_blank" class="mx-4">
        <img src="./assets/vue.svg" class="h-24 w-24 hover:drop-shadow-[0_0_2em_#42b883aa] transition-all" alt="Vue logo" />
      </a>
    </div>
    <HelloWorld msg="Vite + Vue" />
  </div>
</template>
